@model NaturalFrut.App_BLL.ViewModels.VentaViewModel
@{
    ViewBag.Title = "CargarVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Ingresar Venta</h2>

@using (Html.BeginForm("GuardarVenta", "Venta"))
{

    <div class="row">
        @Html.ValidationSummary(true, "Por favor revise los siguientes errores:")
    </div>

    <div class="row">

        <!--Agrupamos campos de la columna izquierda-->
        <div class="col-sm-6">

            <div class="form-group">
                <label>N° Venta</label>
                @Html.TextBoxFor(c => c.ID, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(c => c.ID)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.Fecha)
                @Html.TextBoxFor(c => c.Fecha, new { id = "Fecha", @class = "form-control", @Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm"), @readonly = "readonly" })
                @Html.ValidationMessageFor(c => c.Fecha)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.Clientes)

                <div style="display:flex;">

                    @Html.DropDownListFor(c => c.Clientes, new SelectList(Model.Clientes, "Id", "Nombre"), new { @class = "form-control" }) &nbsp;
                    <a href="#" onclick="NuevoClienteModal(0)"><img src="~/Content/Images/addSign.png" style="vertical-align:-webkit-baseline-middle;" title="Ingresar Nuevo Cliente" /></a>

                </div>
               
                @Html.ValidationMessageFor(c => c.Clientes)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.Vendedores)
                <div style="display:flex;">
                    @Html.DropDownListFor(c => c.Vendedores, new SelectList(Model.Vendedores, "Id", "Nombre"), new { @class = "form-control" }) &nbsp;
                    <a href="#" onclick="NuevoVendedorModal(0)"><img src="~/Content/Images/addSign.png" style="vertical-align:-webkit-baseline-middle;" title="Ingresar Nuevo Vendedor" /></a>
                </div>               
                @Html.ValidationMessageFor(c => c.Vendedores)
            </div>

        </div>

        <!--Agrupamos campos de la columna derecha-->
        <div class="col-sm-6">
            <div class="form-group">
                <label>Saldo Anterior</label>
                @Html.TextBoxFor(c => c.SaldoAnterior, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.SaldoAnterior)
            </div>

            <div class="form-group">
                <label>Entrega Efectivo</label>
                @Html.TextBoxFor(c => c.EntregaEfectivo, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.EntregaEfectivo)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.Saldo)
                @Html.TextBoxFor(c => c.Saldo, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Saldo)
            </div>

            <div class="form-group">
                <label>No Concretado</label>
                @Html.CheckBox("marcaConcretado", false)
                @Html.ValidationMessageFor(c => c.NoConcretado)
            </div>



        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Productos</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <table class="table table-bordered table-hover">
                <tr>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Categoría</th>
                    <th>Marca</th>
                </tr>
                <tbody>
                    @foreach (var p in Model.Productos)
                    {
                        <tr>
                            <td>@p.Descripcion</td>
                            <td>@p.Cantidad</td>
                            <td>@p.Categoria.Nombre</td>
                            <td>@p.Marca.Nombre</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(c => c.ID)
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-danger" value="Cancelar" onclick="location.href='@Url.Action("Index", "Home")';">Cancelar</button>

        </div>
    </div>


}

<div class="modal fade" id="clienteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Nuevo Cliente</h3>
            </div>
            <div class="modal-body" id="clienteModalBody">


            </div>


        </div>

    </div>

</div>

<div class="modal fade" id="vendedorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Nuevo Vendedor</h3>
            </div>
            <div class="modal-body" id="vendedorModalBody">


            </div>


        </div>

    </div>

</div>




@section scripts
{
    <script>

        var NuevoClienteModal = function (clienteID) {

            var url = "/Venta/NuevoCliente?ID=" + clienteID;

            $("#clienteModalBody").load(url, function () {
                $("#clienteModal").modal("show");

            })

        }

        var NuevoVendedorModal = function (vendedorID) {

            var url = "/Venta/NuevoVendedor?ID=" + vendedorID;

            $("#vendedorModalBody").load(url, function () {
                $("#vendedorModal").modal("show");

            })

        }

    </script>

    <script>

        $(document).ready(function () {

            var table = $("#clientes").DataTable({

                "language": {
                    "url": "http://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },

                ajax: {

                    url: "/api/clientes",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Nombre"
                    },
                    {
                        data: "ID",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + "><img title='Borrar' src='/Content/Images/DeleteIcon.png'/></button>" +
                                "<button class='btn-link js-edit' data-customer-id=" + data + "><img title='Editar' src='/Content/Images/EditIcon.png'/></button>";
                        }
                    }
                ]
            });

            $("#clientes").on("click", ".js-delete", function () {

                var button = $(this);

                bootbox.confirm("¿Estas seguro de realizar esta acción?", function (result) {

                    if (result) {
                        $.ajax({
                            url: "/api/clientes/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {

                                toastr.success("Cliente eliminado satisfactoriamente");

                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }

                });


            });

            $("#clientes").on("click", ".js-edit", function () {

                var button = $(this);

                location.href = "EditarCliente/" + button.attr("data-customer-id");

            });




        });

    </script>

}
