@model dynamic

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<form id="nuevoVendedor">

    <div class="row">        

        <!--Agrupamos campos de la columna izquierda-->
        <div class="col-sm-6">

            <div class="form-group">
                <label>Nombre</label>
                <input id="Nombre" name="Nombre" data-rule-validNombre="true" required type="text" value="" class="form-control" />
            </div>

            <div class="form-group">
                <label>Apellido</label>
                <input id="Apellido" name="Apellido" required type="text" value="" class="form-control" />
            </div>  
        </div>

        <!-- Agrupamos campos de la columna derecha -->
        <div class="col-sm-6">

            <div class="form-group">
                <label>Email</label>
                <input id="Email" name="Email" required type="text" value="" class="form-control" />
            </div>

            <div class="form-group">
                <label>Telefono</label>
                <input id="Telefono" name="Telefono" required type="number" value="" class="form-control" />
            </div>         

        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">

            @Html.AntiForgeryToken()
            <button class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-danger" value="Cancelar" onclick="location.href='@Url.Action("NuevaVentaMayorista", "VentaMayorista")';">Cancelar</button>

        </div>
    </div>
</form>

@Scripts.Render("~/bundles/lib")
@Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {

            //loadValidators();

            $.validator.messages.required = "El campo no puede estar vacío";

            var validator = $("#nuevoVendedor").validate({

                submitHandler: function () {

                    var formData = $("#nuevoVendedor").serialize();

                    $.ajax({
                        url: "/api/Vendedores",
                        method: "post",
                        data: formData
                    })
                        .done(function () {

                            toastr.success("Cliente creado satisfactoriamente");

                            setTimeout(function () {

                                $("#vendedorModal").modal("hide");
                                window.location.href = "/VentaMayorista/NuevaVentaMayorista";

                            }, 1500);                     


                        })
                        .fail(function () {

                            toastr.error("Error. El Cliente no ha sido creado");

                            setTimeout(function () {

                                $("#vendedorModal").modal("hide");
                                window.location.href = "/VentaMayorista/NuevaVentaMayorista";

                            }, 1500);

                        });

                    return false;
                }
            });

        });


    </script>






