@model dynamic
@{
    ViewBag.Title = "CargarVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Ingresar Venta</h2>

<form id="vtamayform">

    <div class="row">

        <!--Agrupamos campos de la columna izquierda-->
        <div class="col-sm-6">

            <div class="form-group">
                <label>N° Venta</label>
                <input id="numeroventa" name="numeroventa" required type="text" value="@ViewBag.NumeroVenta" class="form-control" disabled/>
            </div>
            
            <div class="form-group">
                <label>Fecha</label>
                <input id="fecha" name="fecha" required type="datetime" value="@ViewBag.Fecha" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label>Cliente</label>
                <div class="tt-container vtamay-cliente">
                    <input id="cliente" name="cliente" data-msg-required="Por favor ingresa un Cliente" data-cliente-id="" required type="text" value="" class="form-control" />
                    <a href="#" onclick="NuevoClienteModal(0)"><img src="~/Content/Images/addSign.png" title="Ingresar Nuevo Cliente" /></a>
                    <br />
                    <span class="field-validation-valid" data-valmsg-for="cliente" data-valmsg-replace="true"></span>

                </div>
            </div>

            <div class="form-group">
                <label>Vendedor</label>
                <div style="display:flex;">
                    <select id="vendedor" name="vendedor" class="form-control">
                        <option value="" selected="selected">Seleccione...</option>
                        @foreach (var vendedor in @ViewBag.Vendedores)
                        {
                            <option value="@vendedor.ID">@vendedor.Nombre</option>
                        }
                    </select>&nbsp;&nbsp;
                    <a href="#" onclick="NuevoVendedorModal(0)"><img src="~/Content/Images/addSign.png" style="vertical-align:-webkit-baseline-middle;" title="Ingresar Nuevo Vendedor" /></a>
                </div>

            </div>

            </div>

            <!--Agrupamos campos de la columna derecha-->
            <div class="col-sm-6">

                <div class="form-group">
                    <label>Saldo Anterior</label>
                    <input id="SaldoAnteriorID" name="SaldoAnteriorID" required type="number" value="" class="form-control" disabled />
                </div>

                <div class="form-group">
                    <label>Entrega Efectivo</label>
                    <input id="EntregaEfectivoID" name="EntregaEfectivoID" required type="number" value="" class="form-control" disabled />
                </div>

                <div class="form-group">
                    <label>Saldo</label>
                    <input id="SaldoID" name="SaldoID" required type="number" value="" class="form-control" disabled />
                </div>

                <div class="form-group">
                    <label>No Concretado</label>
                    <input id="noconcretado" name="noconcretado" type="checkbox" value="" class="form-control" />
                </div>

            </div>

        </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Productos</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <table class="table-bordered table-hover table order-list">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Unidad</th>
                        <th>Importe</th>
                        <th>Total Importe</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="listaproductos"></tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" style="text-align: left;">
                            <input type="button" class="btn btn-lg btn-block " id="addrow" value="Agregar Producto" />
                        </td>
                    </tr>
                    <tr>                        
                        <td colspan="6" style="text-align: right;">&nbsp;
                            <label>Descuento:</label>
                            <select id="tipoDescuento" name="tipoDescuento" class="form-control vtamay-tipodescuento">
                                <option value="" selected="selected">...</option>
                                <option value="1">$</option>
                                <option value="2">%</option>
                            </select>
                            <input type="number" class="form-control vtamay-descuento" id="descuento" value="" disabled />
                            <br/><br />
                            <label>Total Venta:</label>
                            <input type="number" class="form-control vtamay-totalventa" id="totalventa" value="0" disabled />
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            @Html.AntiForgeryToken()
            <input type="hidden" id="CounterAnterior" />
            <input type="hidden" id="ImporteTotalAnterior" />
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-danger" value="Cancelar" onclick="location.href='@Url.Action("Index", "Home")';">Cancelar</button>

        </div>
    </div>

    
</form>

<div class="modal fade" id="clienteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Nuevo Cliente</h3>
            </div>
            <div class="modal-body" id="clienteModalBody">


            </div>


        </div>

    </div>

</div>

<div class="modal fade" id="vendedorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Nuevo Vendedor</h3>
            </div>
            <div class="modal-body" id="vendedorModalBody">
            </div>
        </div>
    </div>
</div>




@section scripts
{

    @Scripts.Render("~/bundles/jqueryval")

    <!--TAG SCRIPT PARA MODAL-->
    <script>

        var NuevoClienteModal = function (clienteID) {

            var url = "/VentaMayorista/NuevoCliente?ID=" + clienteID;

            $("#clienteModalBody").load(url, function () {
                $("#clienteModal").modal("show");

            })

        }

        var NuevoVendedorModal = function (vendedorID) {

            var url = "/VentaMayorista/NuevoVendedor?ID=" + vendedorID;

            $("#vendedorModalBody").load(url, function () {
                $("#vendedorModal").modal("show");

            })

        }

    </script>

    <script>

        $(document).ready(function () {

            //ViewModel para pasar al webAPI
            var vm = {                
                fecha: "",
                clienteID: 0,
                vendedorID: 0,
                numeroVenta: 0,
                noConcretado: false,
                sumaTotal: 0,
                descuento: 0,
                productosXVenta : []
            };

            var descuentoAplicado = false;
            var totalAnteriorParaDescuento = 0;

            CargarValoresInicialesEnVM(vm);

            //**EVENTOS START **//
            
            $("#cliente").validate({
                rules: {
                    cliente: "required",
                },
                messages: {
                    cliente: "Por favor ingresa un Cliente",
                },

            });

            var counter = 0;
            $("#addrow").on("click", function () {

                var validarCliente = $("#cliente").valid();

                if (validarCliente) {

                    var newRow = $("<tr>");
                    var cols = "";

                    cols += '<td><div class="tt-container"><input id="producto' + counter + '" name="producto" data-msg-required="Por favor ingresa un Producto" data-producto-id="" required type="text" value="" class="form-control" /></div></td>';

                    cols += '<td><div class="form-group"><input id="cantidad' + counter + '" name="cantidad" data-msg-required="Por favor ingresa una Cantidad" required type="number" value="" class="form-control" /></div></td>';

                    cols += '<td><div class="form-group"><select id="tiposdeunidad' + counter + '" name="tiposdeunidad" data-msg-required="Por favor ingresa una Unidad" class="form-control" onChange="CalcularValorProducto(' + counter + '); " required ><option value="" >Seleccione...</option></select></div></td>';
                    GetTiposDeUnidadDynamic(counter);

                    cols += '<td><div class="form-group"><input id="importe' + counter + '" name="importe" required type="number" value="" class="form-control" disabled /></div></td>';

                    cols += '<td><div class="form-group"><input id="totalimporte' + counter + '" name="totalimporte" required type="number" value=""  class="totalimporte form-control"  disabled /></div></td>';

                    cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger " id= "' + counter + '" name= "' + counter + '"  value="Borrar"></td>';
                    newRow.append(cols);
                    $("table.order-list").append(newRow);

                    typeahead_initialize(counter);

                    counter++;

                    $("#producto" + counter).validate({
                        rules: {
                            producto: "required",
                        },
                        messages: {
                            producto: "Por favor ingresa un Producto",
                        },

                    });

                    $("#cantidad" + counter).validate({
                        rules: {
                            cantidad: "required",
                        },
                        messages: {
                            cantidad: "Por favor ingresa una Cantidad",
                        },

                    });

                    $("#tiposdeunidad" + counter).validate({
                        rules: {
                            tiposdeunidad: "required",
                        },
                        messages: {
                            tiposdeunidad: "Por favor ingresa una Unidad",
                        },

                    });



                }

            });

            $("table.order-list").on("click", ".ibtnDel", function (event) {
                $(this).closest("tr").remove();

                var valor = parseInt(this.attributes.name.value);
                valor += 1;

                if (valor == counter) {
                    counter -= 1;
                } else {
                    counter += 1;
                }


                typeahead_initialize(counter);

                RecalcularTotal();
            });

            $("#vendedor").on('change', function () {
                vm.vendedorID = this.value;
            })

            $("#tipoDescuento").on('change', function () {

                //Seleccion = 1 ---> $
                //Seleccion = 2 ---> %
                var seleccion = $("#tipoDescuento").val();

                if (seleccion == 1 || seleccion == 2) {
                    $("#descuento").removeAttr("disabled");

                    descuentoAplicado = false;
                    $("#descuento").val("");
                }
                else {
                    $("#descuento").attr("disabled", "disabled");
                    $("#descuento").val("");
                }

                
            })

            $("#descuento").on('blur', function () {

                //Seleccion = 1 ---> $
                //Seleccion = 2 ---> %
                var seleccion = $("#tipoDescuento").val();

                if (seleccion == 1 || seleccion == 2) {

                    if (!descuentoAplicado) {

                        if ($(".totalimporte").length && $(".totalimporte").val() != "") {

                            var sumaTotalParcial = parseFloat($("#totalventa").val());
                            var descuento = parseFloat($("#descuento").val());

                            if (seleccion == 1)
                                sumaTotalParcial = sumaTotalParcial - descuento;
                            else
                                sumaTotalParcial = sumaTotalParcial - ((sumaTotalParcial * descuento) / 100);

                            $("#totalventa").val(sumaTotalParcial);

                            descuentoAplicado = true;
                            totalAnteriorParaDescuento = sumaTotalParcial;

                        }
                        else {
                            $("#descuento").val("");
                        }
                    }
                    else {

                        var sumaVentaTotal = 0;
                        var nuevoTotal = 0;

                        $(".totalimporte").each(function () {
                            sumaVentaTotal += parseFloat(this.value);
                        });

                        var descuento = parseFloat($("#descuento").val());

                        if (seleccion == 1)
                            nuevoTotal = sumaVentaTotal - descuento;
                        else
                            nuevoTotal = sumaVentaTotal - ((sumaVentaTotal * descuento) / 100);

                        $("#totalventa").val(nuevoTotal);

                    }

                }
                else {
                    $("#descuento").attr("disabled", "disabled");
                    $("#descuento").val("");
                }

                
                
                
            })

            

            $("#noconcretado").on('change', function () {
                if (this.checked) {
                    vm.noConcretado = true;
                }
                else {
                    vm.noConcretado = false;
                }

               
            })

            //**EVENTOS END **//

            // Autocomplete para Cliente
            var clientes = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Nombre'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: '/api/clientes?query=%QUERY',
                    wildcard: '%QUERY',
                    cache: false
                }
            });

            $('#cliente').typeahead({
                minLength: 1,
                highlight: true,
                hint: true,
                limit: Infinity
            }, {
                    name: 'cliente',
                    display: 'Nombre',
                    source: clientes
                }).on("typeahead:select", function (e, cliente) {

                    $("#cliente").attr("data-cliente-id", cliente.ID);
                    vm.clienteID = cliente.ID;

                });


            var validator = $("#vtamayform").validate({

                submitHandler: function () {

                    var validarProducto = $('input[name*="producto"]').valid();
                    var validarCantidad = $('input[name*="cantidad"]').valid();
                    var validartipodeUnidad = $('select[name*="tiposdeunidad"]').valid();

                    if (validarProducto && validarCantidad && validartipodeUnidad) {

                        //Modal para aceptacion de venta
                        bootbox.confirm("Estas seguro que deseas concretar la venta?", function (result) {

                            if (result) {

                                CargarProductosAlVM(vm);


                                $.ajax({
                                    url: "/api/ventasmayorista",
                                    method: "post",
                                    data: vm
                                })
                                    .done(function () {

                                        toastr.success("La venta se ha guardado correctamente.");

                                        setTimeout(function () {
                                            window.location.href = "/VentaMayorista";
                                        }, 4000);

                                    })
                                    .fail(function () {
                                        toastr.error("Se ha producido un error al guardar la venta, revise los datos a ingresar...");
                                    });

                            }

                        });

                    }
                   
                    return false;
                }
            });

        });

    </script>

    <!-- FUNCIONES -->
    <script>

        function typeahead_initialize(counter) {


            //Inicializacion necesaria para typeahead dinamicos
            var clienteID = $("#cliente").attr("data-cliente-id");

            var productos = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Nombre'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: 'api/productos/ProductosXLista?clienteID=' + clienteID,
                    cache: false
                }
            });

            $('#producto' + counter).typeahead({
                minLength: 3,
                highlight: true,
                hint: true,
                limit: Infinity
            }, {
                    name: 'producto',
                    display: 'Nombre',
                    source: productos
                }).on("typeahead:select", function (e, producto) {

                    $("#producto" + counter).attr("data-producto-id", producto.ID);

                });

        }



        function CalcularValorProducto(counter) {

            var validarProducto = $("#producto" + counter).valid();
            var validarCantidad = $("#cantidad" + counter).valid();

            if (validarProducto && validarCantidad) {

                var clienteID = $("#cliente").attr("data-cliente-id");
                var productoID = $("#producto" + counter).attr("data-producto-id");
                var cantidad = $("#cantidad" + counter).val();
                var tipoUnidadID = $("#tiposdeunidad" + counter + " option:selected").val();

                $.getJSON("CalcularValorProductoAsync", { ClienteID: clienteID, ProductoID: productoID, Cantidad: cantidad, TipoUnidadID: tipoUnidadID, Counter: counter }, ActualizarValores)
                    .error(function (request, textStatus, errorThrown) { alert(errorThrown); })

            }



        }

        ActualizarValores = function (data) {

            var importe = data.Importe;
            var importeTotal = data.ImporteTotal;
            var sumaVentaTotal = 0;

            $("#importe" + data.Counter).val(importe);
            $("#totalimporte" + data.Counter).val(importeTotal);

            $(".totalimporte").each(function () {
                sumaVentaTotal += parseFloat(this.value);
            });

            $("#totalventa").val(sumaVentaTotal);

        }

        function RecalcularTotal() {

            var sumaVentaTotal = 0;

            $(".totalimporte").each(function () {
                sumaVentaTotal += parseFloat(this.value);
            });

            $("#totalventa").val(sumaVentaTotal);
        }

        function GetTiposDeUnidadDynamic(counter) {

            $.getJSON("GetTiposDeUnidadDynamicAsync", { Counter: counter }, PopulateTiposDeUnidadDynamic)
                .error(function (request, textStatus, errorThrown) { alert(errorThrown); })

        }

        PopulateTiposDeUnidadDynamic = function (data) {

            $.each(data.TiposDeUnidad, function () {
                $("#tiposdeunidad" + data.Counter).append($("<option />").val(this.ID).text(this.Nombre));
            });

        }

        function CargarValoresInicialesEnVM(vm) {

            var numeroventa = $("#numeroventa").val();
            var fecha = $("#fecha").val();

            vm.numeroVenta = numeroventa;
            vm.fecha = fecha;
        }

        function CargarProductosAlVM(vm) {

            //Cargamos la lista de productos
            $(".listaproductos tr").each(function (i, row) {
                
                var $row = $(row),
                    $producto = $row.find('input[name*="producto"]'),
                    $cantidad = $row.find('input[name*="cantidad"]'),
                    $tipodeunidad = $row.find('select[name*="tiposdeunidad"]'),
                    $importe = $row.find('input[name*="importe"]'),
                    $totalimporte = $row.find('input[name*="totalimporte"]');

                var productoid = $producto.attr("data-producto-id");
                var cantidad = $cantidad.val();
                var tipodeunidad = $tipodeunidad.val();
                var importe = $importe.val();
                var totalimporte = $totalimporte.val();

                vm.productosXVenta.push(
                    {
                        ProductoID: productoid,
                        Cantidad: cantidad,
                        TipoDeUnidadID: tipodeunidad,
                        Importe: importe,
                        Total: totalimporte
                    }
                );

            });

            //Cargamos la suma total
            vm.sumaTotal = $("#totalventa").val();

        }

    </script>

}
