@model dynamic
@{
    ViewBag.Title = "CargarVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Ingresar Venta</h2>

<form id="vtamayform">

    <div class="row">

        <!--Agrupamos campos de la columna izquierda-->
        <div class="col-sm-6">

            <div class="form-group">
                <label>N° Venta</label>
                <input id="numeroventa" name="numeroventa" required type="text" value="@ViewBag.NumeroVenta" class="form-control" disabled/>
            </div>
            
            <div class="form-group">
                <label>Fecha</label>
                <input id="fecha" name="fecha" required type="datetime" value="@ViewBag.Fecha" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label>Cliente</label>
                <div class="tt-container vtamay-cliente">
                    <input id="cliente" name="cliente" data-msg-required="Por favor ingresa un Cliente" data-cliente-id="" required type="text" value="" onblur="GetSaldoCliente();" class="form-control" />
                    <a href="#" onclick="NuevoClienteModal(0)"><img src="~/Content/Images/addSign.png" title="Ingresar Nuevo Cliente" /></a>
                    

                </div>
            </div>

            <div class="form-group">
                <label>Vendedor</label>
                <div style="display:flex;">
                    <select id="vendedor" name="vendedor" class="form-control" data-msg-required="Por favor ingresa un Vendedor" required>
                        <option value="" selected="selected">Seleccione...</option>
                        @foreach (var vendedor in @ViewBag.Vendedores)
            {
                <option value="@vendedor.ID">@vendedor.Nombre</option>
}
                    </select>&nbsp;&nbsp;
                    <a href="#" onclick="NuevoVendedorModal(0)"><img src="~/Content/Images/addSign.png" style="vertical-align:-webkit-baseline-middle;" title="Ingresar Nuevo Vendedor" /></a>
                </div>
                <label class="error field-validation-valid" for="vendedor" data-valmsg-replace="true"></label>

            </div>

            </div>

            <!--Agrupamos campos de la columna derecha-->
        <div class="col-sm-6">

            <div class="form-group">
                <label>Entrega Efectivo</label>
                <input id="entregaefectivo" name="entregaefectivo" required type="text" value="0" onkeyup="ValidarPunto(this);" onblur="CalcularSaldoFinal();" class="form-control js-formatvalue" />
            </div>

            <div class="form-group">
                <label>Saldo</label>
                <input id="saldo" name="saldo" type="text" value="" class="form-control js-formatvalue" disabled />
            </div>

            <div class="form-group">
                <label>Saldo Parcial</label>
                <input id="saldoparcial" name="saldoparcial" type="text" value="" class="form-control js-formatvalue" disabled />
            </div>

            <div class="checkbox">

                <input id="noconcretado" name="noconcretado" type="checkbox" value="" />
                <label><strong>Concretado</strong></label>

            </div>



        </div>

        </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Productos</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <table class="table-bordered table-hover table order-list">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Unidad</th>
                        <th>Descuento (%)</th>
                        <th>Importe</th>
                        <th>Total Importe</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="listaproductos"></tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" style="text-align: left;">
                            <input type="button" class="btn btn-lg btn-block " id="addrow" value="Agregar Producto" />
                        </td>
                        <td colspan="2" style="text-align: right;">
                            <input type="button" class="btn btn-lg btn-primary btn-block" id="calculartotal"  value="Calcular Total" />
                        </td>
                    </tr>
                    <tr>                        
                        <td colspan="7" style="text-align: right;">
                            &nbsp;
                            <label>Descuento:</label>
                            <select id="tipoDescuento" name="tipoDescuento" class="form-control vtamay-tipodescuento">
                                <option value="" selected="selected">...</option>
                                <option value="1">$</option>
                                <option value="2">%</option>
                            </select>
                            <input type="text" class="form-control vtamay-descuento" id="descuento" value="" onkeyup="ValidarPunto(this);" disabled />
                            <br /><br />

                            <label>Total Venta:</label>
                            <input type="text" class="form-control vtamay-totalventa js-formatvalue" id="totalventa" value="0" disabled />

                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            @Html.AntiForgeryToken()
            <input type="hidden" id="CounterAnterior" />
            <button type="submit" class="btn btn-primary">Finalizar Venta</button>
            <button type="button" class="btn btn-danger" value="Cancelar" onclick="location.href='@Url.Action("", "VentaMayorista")';">Cancelar</button>

        </div>
    </div>

    
</form>

<div class="modal fade" id="clienteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Nuevo Cliente</h3>
            </div>
            <div class="modal-body" id="clienteModalBody">


            </div>


        </div>

    </div>

</div>

<div class="modal fade" id="vendedorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Nuevo Vendedor</h3>
            </div>
            <div class="modal-body" id="vendedorModalBody">
            </div>
        </div>
    </div>
</div>




@section scripts
{

    @Scripts.Render("~/bundles/jqueryval")

    <!--TAG SCRIPT PARA MODAL-->
    <script>

        var NuevoClienteModal = function (clienteID) {

            var url = "/VentaMayorista/NuevoCliente?ID=" + clienteID;

            $("#clienteModalBody").load(url, function () {
                $("#clienteModal").modal("show");

            })

        }

        var NuevoVendedorModal = function (vendedorID) {

            var url = "/VentaMayorista/NuevoVendedor?ID=" + vendedorID;

            $("#vendedorModalBody").load(url, function () {
                $("#vendedorModal").modal("show");

            })

        }

    </script>

    <script>

        $(document).ready(function () {

            //ViewModel para pasar al webAPI
            var vm = {                
                fecha: "",
                clienteID: 0,
                vendedorID: 0,
                numeroVenta: 0,
                noConcretado: false,
                sumaTotal: 0,
                tipoDescuentoTotal: 0,
                descuento: 0,
                saldo: 0,
                saldoParcial: 0,
                entregaEfectivo: 0,
                productosXVenta : []
            };

            var descuentoAplicado = false;
            var descuentoAplicadoPorProducto = false;
            var totalCalculado = false;

            CargarValoresInicialesEnVM(vm);

            //Valor inicial para Saldos
            $("#saldo").val(0);
            $("#saldoparcial").val(0);

            //**EVENTOS START **//
            
            $("#cliente").validate({
                rules: {
                    cliente: "required",
                },
                messages: {
                    cliente: "Por favor ingresa un Cliente",
                },

            });

            var counter = 0;
            $("#addrow").on("click", function () {

                //RecalcularTotal();
                ResetearDescuentoTotal();
                ResetearTotal();

                var validarCliente = $("#cliente").valid();

                if (validarCliente) {

                    var newRow = $("<tr>");
                    var cols = "";

                    cols += '<td><div class="tt-container"><input id="producto' + counter + '" name="producto" data-msg-required="Por favor ingresa un Producto" data-producto-id="" required type="text" value="" onChange="ValidarTipoDeProducto(' + counter + '); " class="form-control" /></div></td>';

                    cols += '<td><div class="form-group"><input id="cantidad' + counter + '" name="cantidad" data-msg-required="Por favor ingresa una Cantidad" required type="number" value="" class="form-control" data-js-counter="' + counter + '" onBlur="ResetearValores(this); CalcularValoresBlister(' + counter + ');" /><label id="stockdisponible' + counter + '" ></label></div></td>';

                    cols += '<td><div class="form-group"><select id="tiposdeunidad' + counter + '" name="tiposdeunidad" data-msg-required="Por favor ingresa una Unidad" class="form-control" onChange="CalcularStockYValorProducto(' + counter + '); " required ><option value="-1" >Seleccione...</option></select></div></td>';
                    //GetTiposDeUnidadDynamic(counter);

                    cols += '<td><div class="form-group"><input id="descprod' + counter + '" name="descprod" type="text" data-js-counter="' + counter + '" value="" class="js-descprod form-control" onkeyup=ValidarPunto(this); /></div></td>';

                    cols += '<td><div class="form-group"><input id="importe' + counter + '" name="importe" required type="text" value="" class="form-control js-formatvalue" disabled /></div></td>';

                    cols += '<td><div class="form-group"><input id="totalimporte' + counter + '" name="totalimporte" required type="text" data-js-counter="' + counter + '" value=""  class="totalimporte form-control js-formatvalue"  disabled /></div></td>';

                    cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger " id= "' + counter + '" name= "' + counter + '"  value="Borrar"></td>';
                    newRow.append(cols);
                    $("table.order-list").append(newRow);                    

                    typeahead_initialize(counter);

                    counter++;

                    totalCalculado = false;

                    $("#producto" + counter).validate({
                        rules: {
                            producto: "required",
                        },
                        messages: {
                            producto: "Por favor ingresa un Producto",
                        },

                    });

                    $("#cantidad" + counter).validate({
                        rules: {
                            cantidad: "required",
                        },
                        messages: {
                            cantidad: "Por favor ingresa una Cantidad",
                        },

                    });

                    $("#tiposdeunidad" + counter).validate({
                        rules: {
                            tiposdeunidad: "required",
                        },
                        messages: {
                            tiposdeunidad: "Por favor ingresa una Unidad",
                        },

                    });                    

                }

            });

            $("table.order-list").on("click", ".ibtnDel", function (event) {
                $(this).closest("tr").remove();

                var valor = parseInt(this.attributes.name.value);
                valor += 1;

                if (valor == counter) {
                    counter -= 1;
                } else {
                    counter += 1;
                }


                typeahead_initialize(counter);

                //RecalcularTotal();
                ResetearDescuentoTotal();
                ResetearTotal();
                //CalcularSaldoFinal();

                //Requerir que se calcule el total si no hacen click en el boton
                totalCalculado = false;
            });

            $("#vendedor").on('change', function () {
                vm.vendedorID = this.value;
            })

            $("#tipoDescuento").on('change', function () {

                //Seleccion = 1 ---> $
                //Seleccion = 2 ---> %
                var seleccion = $("#tipoDescuento").val();

                if (seleccion == 1 || seleccion == 2) {
                    $("#descuento").removeAttr("disabled");

                    descuentoAplicado = false;
                    $("#descuento").val("");
                }
                else {
                    $("#descuento").attr("disabled", "disabled");
                    $("#descuento").val("");       

                    RecalcularTotal();
                    CalcularDescuentoTotal();
                    CalcularSaldoFinal();
                }

                
                
            })

            //$("#descuento").on('blur', function () {

            //    var sumaParcialConDesc = 0;
            //    var sumaParcialSinDesc = 0;

            //    //Seleccion = 1 ---> $
            //    //Seleccion = 2 ---> %
            //    var seleccion = $("#tipoDescuento").val();

            //    if ((seleccion == 1 || seleccion == 2) && $("#descuento").val() != "" ) {

            //        var sumaVentaTotal = 0;
            //        var nuevoTotal = 0;
            //        var saldo = DeFormatearValor($("#saldo").val());
                    
            //        $(".totalimporte").each(function () {

            //            var descuento = $(this).closest('tr').find('td .js-descprod').val();

            //            if (descuento != "") {
            //                sumaParcialConDesc += parseFloat(DeFormatearValor(this.value));
            //            }
            //            else {
            //                sumaParcialSinDesc += parseFloat(DeFormatearValor(this.value));
            //            }

            //            //sumaVentaTotal += parseFloat(this.value);
            //        });

            //        var descuento = parseFloat(DeFormatearValor($("#descuento").val()));

            //        if (seleccion == 1 && sumaParcialSinDesc != 0)
            //            nuevoTotal = sumaParcialSinDesc - descuento;
            //        else
            //            nuevoTotal = sumaParcialSinDesc - ((sumaParcialSinDesc * descuento) / 100);

            //        nuevoTotal = nuevoTotal + sumaParcialConDesc;
             
            //        var nuevoTotalsinSaldo = FormatearValor(nuevoTotal);
            //        $("#totalventa").val(nuevoTotalsinSaldo);

            //        //CalcularSaldoFinal();
            //    }
            //    else {

            //        if ($("#descuento").val() != "") {
            //            $("#descuento").attr("disabled", "disabled");
            //            $("#descuento").val("");
            //        }
                    
            //    }
                
            //})

            $("#noconcretado").on('change', function () {
                if (this.checked) {
                    vm.noConcretado = true;
                }
                else {
                    vm.noConcretado = false;
                }

               
            })

            $("#entregaefectivo").on('change', function () {

                var valor = this.value;
                valor = DeFormatearEntregaEfectivo(valor);                
                $("#entregaefectivo").val(FormatearValor(valor)); 

            })

            //DESCUENTO POR PRODUCTO
            $(document).on('blur', "input.js-descprod", function () {

                //Si el Descuento Final esta activado, desactivarlo
                var selDescFinal = $("#tipoDescuento").val();
                if (selDescFinal != "") {
                    $("#descuento").attr("disabled", "disabled");
                    $("#descuento").val("");
                    $('#tipoDescuento option:first').prop('selected', true);
                }

                var input = $(this);
                var descuento = ValorANumero(input[0].value);

                var counter = input.attr("data-js-counter");
                var cantidad = $("#cantidad" + counter).val();
                var importe = $("#importe" + counter).val();

                if (descuento != "") {

                    var importeTotal = cantidad * DeFormatearValor(importe);

                    var importeConDesc = importeTotal - ((importeTotal * descuento) / 100);
                    $("#totalimporte" + counter).val(FormatearValor(importeConDesc));

                    //RecalcularTotal();
                    //CalcularSaldoFinal();

                }
                else {
                   
                    var importeTotal = cantidad * DeFormatearValor(importe);
                    $("#totalimporte" + counter).val(FormatearValor(importeTotal));

                    //RecalcularTotal();
                    //CalcularSaldoFinal();
                }
                    
            
            });


            $("#calculartotal").on('click', function () {

                //Una vez cargados todos los productos, calculamos total
                RecalcularTotal();
                CalcularDescuentoTotal();
                CalcularSaldoFinal();

                totalCalculado = true;

            })

            

            //**EVENTOS END **//

            // Autocomplete para Cliente
            var clientes = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Nombre'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: '/api/clientes?query=%QUERY',
                    wildcard: '%QUERY',
                    cache: false
                }
            });

            $('#cliente').typeahead({
                minLength: 1,
                highlight: true,
                hint: true,
                limit: Infinity
            }, {
                    name: 'cliente',
                    display: 'Nombre',
                    source: clientes
                }).on("typeahead:select", function (e, cliente) {

                    $("#cliente").attr("data-cliente-id", cliente.ID);
                    vm.clienteID = cliente.ID;

                });


            var validator = $("#vtamayform").validate({

                submitHandler: function () {

                    //var validarProducto = $('input[name*="producto"]').valid();
                    //var validarCantidad = $('input[name*="cantidad"]').valid();
                    //var validartipodeUnidad = $('select[name*="tiposdeunidad"]').valid();

                    //if (validarProducto && validarCantidad && validartipodeUnidad) {

                    //Modal para aceptacion de venta
                    bootbox.confirm("Estas seguro que deseas concretar la venta?", function (result) {

                        if (result) {

                            var validarProductos = $('input[name*="producto"]');

                            if (validarProductos.length == 0)
                                $("#calculartotal").trigger("click");


                            if (totalCalculado) {
                                
                                CargarProductosAlVM(vm);

                                $.ajax({
                                    url: "/api/ventasmayorista",
                                    method: "post",
                                    data: vm
                                })
                                    .done(function () {

                                        toastr.success("La venta se ha guardado correctamente.");

                                        setTimeout(function () {
                                            window.location.href = "/VentaMayorista";
                                        }, 4000);

                                    })
                                    .fail(function () {
                                        toastr.error("Se ha producido un error al guardar la venta, revise los datos a ingresar...");

                                        //Reseteamos los productos del viewmodel
                                        vm.productosXVenta = [];      

                                        totalCalculado = false;
                                    });
                                    
                            }
                            else {
                                toastr.error("El valor total de la venta no ha sido calculado. Hacer click en el botón Calcular Total para continuar...");
                            }



                                

                        }

                    });

                    //}
                   
                    return false;
                }
            });

        });

    </script>

    <!-- FUNCIONES -->
    <script>

        function typeahead_initialize(counter) {


            //Inicializacion necesaria para typeahead dinamicos
            var clienteID = $("#cliente").attr("data-cliente-id");

            var productos = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Nombre'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: 'api/productos/ProductosXLista?clienteID=' + clienteID,
                    cache: false
                }
            });

            $('#producto' + counter).typeahead({
                minLength: 1,
                highlight: true,
                hint: true,
                limit: Infinity
            }, {
                    name: 'producto',
                    display: 'Nombre',
                    source: productos
                }).on("typeahead:select", function (e, producto) {

                    $("#producto" + counter).attr("data-producto-id", producto.ID);

                });

        }

        function GetSaldoCliente() {

            var clienteID = $("#cliente").attr("data-cliente-id");

            if (clienteID != "") {
                $.getJSON("GetSaldoClienteAsync", { ClienteID: clienteID }, ActualizarSaldoCliente)
                    .error(function (xhr, textStatus, exceptionThrown) {
                        bootbox.alert(xhr.responseText);
                    })
            }           

        }

        ActualizarSaldoCliente = function (data) {

            if (data.Saldo != 0) {
                $("#saldo").val(data.Saldo);
                $("#saldoparcial").val(data.Saldo);
            }             

            //RecalcularTotal();
            //;

            $("#saldo").val(FormatearValor($("#saldo").val()));
            $("#saldoparcial").val(FormatearValor($("#saldoparcial").val()));

        }

        function CalcularStockYValorProducto(counter) {

            var validarProducto = $("#producto" + counter).valid();
            var validarCantidad = $("#cantidad" + counter).valid();

            if (validarProducto && validarCantidad) {

                var clienteID = $("#cliente").attr("data-cliente-id");
                var productoID = $("#producto" + counter).attr("data-producto-id");
                var cantidad = $("#cantidad" + counter).val();
                var tipoUnidadID = $("#tiposdeunidad" + counter + " option:selected").val();

                if (tipoUnidadID > 0) {
                    $.getJSON("CalcularStockYValorProductoAsync", { ClienteID: clienteID, ProductoID: productoID, Cantidad: cantidad, TipoUnidadID: tipoUnidadID, Counter: counter }, ActualizarValores)
                        .error(function (xhr, textStatus, exceptionThrown) {
                            bootbox.alert(xhr.responseText);
                        })
                }

            }
        }

        ActualizarValores = function (data) {


            if (data.Success) {

                var importe = data.Importe;
                var importeTotal = data.ImporteTotal;
                //var sumaVentaTotal = 0;

                var cantidad = $("#cantidad" + data.Counter).val();
                if (data.Stock - cantidad < 0) {
                    $("#stockdisponible" + data.Counter).text("Stock Disponible: " + data.Stock);
                    $("#stockdisponible" + data.Counter).css("color", "red");
                }
                else {
                    $("#stockdisponible" + data.Counter).text("Stock Disponible: " + data.Stock);
                    $("#stockdisponible" + data.Counter).css("color", "green");
                }

                $("#importe" + data.Counter).val(FormatearValor(importe));
                $("#totalimporte" + data.Counter).val(FormatearValor(importeTotal));

                //RecalcularTotal();
                //CalcularSaldoFinal();

            }
            else {
                bootbox.alert(data.Error);
            }

            

        }


        function ResetearDescuentoTotal() {

            //Si se agrega o remueve un row, resetear el descuento total
            $("#tipoDescuento").prop("selectedIndex", 0).change();
            $("#descuento").attr("disabled", "disabled");
            $("#descuento").val("");

            //CalcularSaldoFinal();

        }


        function RecalcularTotal() {

            var sumaVentaTotal = 0;            

            $(".totalimporte").each(function () {
                sumaVentaTotal += parseFloat(DeFormatearValor(this.value));
            });

            $("#totalventa").val(FormatearValor(sumaVentaTotal));


        }



        function GetTiposDeUnidadDynamic(counter) {
        
            $.getJSON("GetTiposDeUnidadDynamicAsync", { Counter: counter }, PopulateTiposDeUnidadDynamic)
                .error(function (request, textStatus, errorThrown) { alert(errorThrown); })

        }

        PopulateTiposDeUnidadDynamic = function (data) {

            $.each(data.TiposDeUnidad, function () {
                $("#tiposdeunidad" + data.Counter).append($("<option />").val(this.ID).text(this.Nombre));
            });

            //Si el Descuento Final esta activado, desactivarlo
            var selDescFinal = $("#tipoDescuento").val();
            if (selDescFinal != "") {
                $("#descuento").attr("disabled", "disabled");
                $("#descuento").val("");
                $('#tipoDescuento option:first').prop('selected', true);
            }


        }

        function ResetearValores(txtbox) {

            var input = $(txtbox);
            var counter = input.attr("data-js-counter");

            $("#tiposdeunidad" + counter).prop('selectedIndex', 0);
            $("#descprod" + counter).val("");
            $("#importe" + counter).val("");
            $("#totalimporte" + counter).val("");


        }

        function CargarValoresInicialesEnVM(vm) {

            var numeroventa = $("#numeroventa").val();
            var fecha = $("#fecha").val();

            vm.numeroVenta = numeroventa;
            vm.fecha = fecha;
        }

        function CargarProductosAlVM(vm) {

            //Cargamos la lista de productos
            $(".listaproductos tr").each(function (i, row) {
                
                var $row = $(row),
                    $producto = $row.find('input[name*="producto"]'),
                    $cantidad = $row.find('input[name*="cantidad"]'),
                    $tipodeunidad = $row.find('select[name*="tiposdeunidad"]'),
                    $descuento = $row.find('input[name*="descprod"]'),
                    $importe = $row.find('input[name*="importe"]'),
                    $totalimporte = $row.find('input[name*="totalimporte"]');

                var productoid = $producto.attr("data-producto-id");
                var cantidad = $cantidad.val();
                var tipodeunidad = $tipodeunidad.val();
                var descuento = $descuento.val();
                var importe = DeFormatearValor($importe.val());
                var totalimporte = DeFormatearValor($totalimporte.val());

                vm.productosXVenta.push(
                    {
                        VentaID: 0,
                        ProductoID: productoid,
                        Cantidad: cantidad,
                        TipoDeUnidadID: tipodeunidad,
                        Descuento: descuento,
                        Importe: importe,
                        Total: totalimporte
                    }
                );

            });

            //Cargamos el resto de valores a deformatear
            vm.entregaEfectivo = DeFormatearValor($("#entregaefectivo").val());
            vm.tipoDescuentoTotal = $("#tipoDescuento").val();
            vm.descuento = DeFormatearValor($("#descuento").val());
            vm.saldo = DeFormatearValor($("#saldo").val());
            vm.saldoParcial = DeFormatearValor($("#saldoparcial").val());
            vm.sumaTotal = DeFormatearValor($("#totalventa").val());

        }

        function ValidarTipoDeProducto(counter) {

            var productoID = $("#producto" + counter).attr("data-producto-id");

            if (productoID > 0) {
                $.getJSON("ValidarTipoDeProductoAsync", { ProductoID : productoID, Counter: counter }, PopulateTipoDeUnidadSegunProducto)
                    .error(function (xhr, textStatus, exceptionThrown) {
                        bootbox.alert(xhr.responseText);
                    })
            }

        }

        PopulateTipoDeUnidadSegunProducto = function (data) {

            if (data.EsBlister && data.EsMix) {
                $("#tiposdeunidad" + data.Counter).empty();
                $("#tiposdeunidad" + data.Counter).append($("<option />").val("-1").text("Seleccione..."));
                $("#tiposdeunidad" + data.Counter).append($("<option />").val("@ViewBag.TipoDeUnidadBlister").text("Blister"));
                $("#tiposdeunidad" + data.Counter).append($("<option />").val("@ViewBag.TipoDeUnidadBlister").text("Mix"));

            }
            @*else if (data.EsBlister) {
                $("#tiposdeunidad" + data.Counter).empty();
                $("#tiposdeunidad" + data.Counter).append($("<option />").val("-1").text("Seleccione..."));
                $("#tiposdeunidad" + data.Counter).append($("<option />").val("@ViewBag.TipoDeUnidadBlister").text("Blister"));

            }*@
            else if(data.EsMix) {
                $("#tiposdeunidad" + data.Counter).empty();
                $("#tiposdeunidad" + data.Counter).append($("<option />").val("-1").text("Seleccione..."));
                $("#tiposdeunidad" + data.Counter).append($("<option />").val("@ViewBag.TipoDeUnidadMix").text("Kg."));
               
            }
            else {
                $("#tiposdeunidad" + data.Counter).empty();
                $("#tiposdeunidad" + data.Counter).append($("<option />").val("-1").text("Seleccione..."));
                GetTiposDeUnidadDynamic(data.Counter);
                
            }

        }

        UpdateStockBlister = function (data) {

            if (data.Success) {

                var cantidad = $("#cantidad" + data.Counter).val();
                if (data.Stock - cantidad < 0) {
                    $("#stockdisponible" + data.Counter).text("Stock Disponible: " + data.Stock);
                    $("#stockdisponible" + data.Counter).css("color", "red");
                }
                else {
                    $("#stockdisponible" + data.Counter).text("Stock Disponible: " + data.Stock);
                    $("#stockdisponible" + data.Counter).css("color", "green");
                }
               
            }
            else {
                bootbox.alert(data.Error);
            }

        }

        function CalcularValoresBlister(counter) {
            
            var validarProducto = $("#producto" + counter).valid();
            var validarCantidad = $("#cantidad" + counter).valid();

            if (validarProducto && validarCantidad) {

                var clienteID = $("#cliente").attr("data-cliente-id");
                var productoID = $("#producto" + counter).attr("data-producto-id");
                var cantidad = $("#cantidad" + counter).val();
                var tipoUnidadID = $("#tiposdeunidad" + counter + " option:selected").val();

                if (tipoUnidadID > 0) {
                    $.getJSON("CalcularValorBlisterAsync", { ClienteID: clienteID, ProductoID: productoID, Cantidad: cantidad, TipoUnidadID: tipoUnidadID, Counter: counter }, ActualizarValores)
                        .error(function (xhr, textStatus, exceptionThrown) {
                            bootbox.alert(xhr.responseText);
                        })
                }

            }


        }

        function DeFormatearEntregaEfectivo(valor) {

            if (valor != "") {
                valor = valor.replace("$", "").trim();
                valor = ValorANumero(valor);
            }

            return valor;
        }

        function DeFormatearSaldo(valor) {

            if (valor != "") {
                valor = valor.replace("$", "").trim();
                valor = ValorANumero(valor);
            }

            return valor;
        }

        function CalcularSaldoFinal() {
            
            var entregaEfvo = DeFormatearEntregaEfectivo($("#entregaefectivo").val());
            var sumaTotal = DeFormatearEntregaEfectivo($("#totalventa").val());
            var saldo = DeFormatearEntregaEfectivo($("#saldo").val());

            $("#saldoparcial").val(FormatearValor(parseFloat(sumaTotal) + parseFloat(saldo) - parseFloat(entregaEfvo)));

        }

        function CalcularDescuentoTotal() {

            var sumaParcialConDesc = 0;
            var sumaParcialSinDesc = 0;

            //Seleccion = 1 ---> $
            //Seleccion = 2 ---> %
            var seleccion = $("#tipoDescuento").val();

            if ((seleccion == 1 || seleccion == 2) && $("#descuento").val() != "") {

                var sumaVentaTotal = 0;
                var nuevoTotal = 0;
                var saldo = DeFormatearValor($("#saldo").val());

                $(".totalimporte").each(function () {

                    var descuento = $(this).closest('tr').find('td .js-descprod').val();

                    if (descuento != "") {
                        sumaParcialConDesc += parseFloat(DeFormatearValor(this.value));
                    }
                    else {
                        sumaParcialSinDesc += parseFloat(DeFormatearValor(this.value));
                    }

                    //sumaVentaTotal += parseFloat(this.value);
                });

                var descuento = parseFloat(DeFormatearValor($("#descuento").val()));

                if (seleccion == 1 && sumaParcialSinDesc != 0)
                    nuevoTotal = sumaParcialSinDesc - descuento;
                else
                    nuevoTotal = sumaParcialSinDesc - ((sumaParcialSinDesc * descuento) / 100);

                nuevoTotal = nuevoTotal + sumaParcialConDesc;

                var nuevoTotalsinSaldo = FormatearValor(nuevoTotal);
                $("#totalventa").val(nuevoTotalsinSaldo);

                //CalcularSaldoFinal();
            }
            else {

                if ($("#descuento").val() != "") {
                    $("#descuento").attr("disabled", "disabled");
                    $("#descuento").val("");
                }

            }

        }

        function ResetearTotal() {

            var saldo = $("#saldo").val();

            $("#totalventa").val(FormatearValor(0));
            $("#saldoparcial").val(saldo);
        }


    </script>

}
