@model NaturalFrut.App_BLL.ViewModels.VentaMayoristaViewModel
@{
    ViewBag.Title = "CargarVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Ingresar Venta</h2>

@using (Html.BeginForm("GuardarVentaMayorista", "VentaMayorista"))
{

    <div class="row">
        @Html.ValidationSummary(true, "Por favor revise los siguientes errores:")
    </div>

    <div class="row">

        <!--Agrupamos campos de la columna izquierda-->
        <div class="col-sm-6">

            <div class="form-group">
                <label>N° Venta</label>
                @Html.TextBoxFor(c => c.ID, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(c => c.ID)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.Fecha)
                @Html.TextBoxFor(c => c.Fecha, new { id = "Fecha", @class = "form-control", @Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm"), @readonly = "readonly" })
                @Html.ValidationMessageFor(c => c.Fecha)
            </div>

            <div class="form-group">
                <label>Cliente</label>
                <div class="tt-container vtamay-cliente">
                    <input id="cliente" name="cliente" data-rule-validCustomer="true" data-cliente-id="" required type="text" value="" class="form-control" />
                    <a href="#" onclick="NuevoClienteModal(0)"><img src="~/Content/Images/addSign.png" title="Ingresar Nuevo Cliente" /></a>

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.Vendedores)
                <div style="display:flex;">
                    @Html.DropDownListFor(c => c.Vendedores, new SelectList(Model.Vendedores, "Id", "Nombre"), new { @class = "form-control" }) &nbsp;&nbsp;
                    <a href="#" onclick="NuevoVendedorModal(0)"><img src="~/Content/Images/addSign.png" style="vertical-align:-webkit-baseline-middle;" title="Ingresar Nuevo Vendedor" /></a>
                </div>
                @Html.ValidationMessageFor(c => c.Vendedores)
            </div>

        </div>

        <!--Agrupamos campos de la columna derecha-->
        <div class="col-sm-6">
            <div class="form-group">
                <label>Saldo Anterior</label>
                @Html.TextBoxFor(c => c.SaldoAnterior, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.SaldoAnterior)
            </div>

            <div class="form-group">
                <label>Entrega Efectivo</label>
                @Html.TextBoxFor(c => c.EntregaEfectivo, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.EntregaEfectivo)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.Saldo)
                @Html.TextBoxFor(c => c.Saldo, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Saldo)
            </div>

            <div class="form-group">
                <label>No Concretado</label>
                @Html.CheckBox("marcaConcretado", false)
                @Html.ValidationMessageFor(c => c.NoConcretado)
            </div>



        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Productos</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <table class="table table-bordered table-hover">
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Unidad</th>
                    <th>Importe</th>
                    <th>Total Importe</th>
                    <th>Acciones</th>
                </tr>
                <tbody>

                    <tr>
                        <td>
                            <div class="tt-container">
                                <input id="producto" name="producto" data-rule-validProducto="true" data-producto-id="" required type="text" value="" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">                                
                                <input id="cantidad" name="cantidad" required type="number" value="" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.DropDownListFor(c => c.TiposDeUnidad, new SelectList(Model.TiposDeUnidad, "Id", "Nombre"), new { @class = "form-control", onChange = "CalcularValorProducto()" })
                                @Html.ValidationMessageFor(c => c.TiposDeUnidad)
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input id="importe" name="importe" required type="number" value="" class="form-control" disabled/>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input id="totalimporte" name="totalimporte" required type="number" value="" class="form-control" disabled />
                            </div>
                        </td>
                        <td>
                            <button class='btn-link'><img title='Agregar nuevo Producto' src='~/Content/Images/addSign.png' /></button>
                            <button class='btn-link'><img title='Remover Producto' src='~/Content/Images/DeleteIcon.png' /></button>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(c => c.ID)
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-danger" value="Cancelar" onclick="location.href='@Url.Action("Index", "Home")';">Cancelar</button>

        </div>
    </div>


}

<div class="modal fade" id="clienteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Nuevo Cliente</h3>
            </div>
            <div class="modal-body" id="clienteModalBody">


            </div>


        </div>

    </div>

</div>

<div class="modal fade" id="vendedorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Nuevo Vendedor</h3>
            </div>
            <div class="modal-body" id="vendedorModalBody">
            </div>
        </div>
    </div>
</div>




@section scripts
{



    <!--TAG SCRIPT PARA MODAL-->
    <script>

        var NuevoClienteModal = function (clienteID) {

            var url = "/VentaMayorista/NuevoCliente?ID=" + clienteID;

            $("#clienteModalBody").load(url, function () {
                $("#clienteModal").modal("show");

            })

        }

        var NuevoVendedorModal = function (vendedorID) {

            var url = "/VentaMayorista/NuevoVendedor?ID=" + vendedorID;

            $("#vendedorModalBody").load(url, function () {
                $("#vendedorModal").modal("show");

            })

        }

    </script>

    <script>

        $(document).ready(function () {            

            //Default Placeholder
            $("#TiposDeUnidad").prepend("<option value='' selected='selected'>Seleccione...</option>");




            // Autocomplete para Cliente            
            var clientes = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Nombre'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: '/api/clientes?query=%QUERY',
                    wildcard: '%QUERY',
                    cache: false
                }
            });

            $('#cliente').typeahead({
                minLength: 3,
                highlight: true,
                hint: true,
                limit: Infinity
            }, {
                    name: 'cliente',
                    display: 'Nombre',
                    source: clientes
                }).on("typeahead:select", function (e, cliente) {

                    $("#cliente").attr("data-cliente-id", cliente.ID);

                });


            //Autocomplete para Producto
            var productos = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Nombre'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: '/api/productos?query=%QUERY',
                    wildcard: '%QUERY',
                    cache: false
                }
            });

            $('#producto').typeahead({
                minLength: 3,
                highlight: true,
                hint: true,
                limit: Infinity
            }, {
                    name: 'producto',
                    display: 'Nombre',
                    source: productos
                }).on("typeahead:select", function (e, producto) {

                    $("#producto").attr("data-producto-id", producto.ID);

                });









            

        });

    </script>

    <!-- FUNCIONES -->
    <script>

        function CalcularValorProducto() {

            var clienteID = $("#cliente").attr("data-cliente-id");
            var productoID = $("#producto").attr("data-producto-id");
            var cantidad = $("#cantidad").val();
            var tipoUnidadID = $("#TiposDeUnidad option:selected").val();

            $.getJSON("CalcularValorProductoAsync", { ClienteID: clienteID, ProductoID: productoID, Cantidad: cantidad, TipoUnidadID: tipoUnidadID }, ActualizarValores)
                .error(function (request, textStatus, errorThrown) { alert(errorThrown); })

        }

        ActualizarValores = function (data) {

            var importe = data.Importe;
            var importeTotal = data.ImporteTotal;

            $("#importe").val(importe);
            $("#totalimporte").val(importeTotal);
        }

    </script>

}
