@model NaturalFrut.App_BLL.ViewModels.ListaPreciosExportViewModel
@{
    /**/

    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NaturalFrut Distribuidora</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="row" style="margin:5px;">

        <table class="table table-bordered">

            <tr>
                <td colspan="4" class="text-center">

                    <span style="font-weight:bold; font-size:20px;"><span style="text-decoration:underline">Teléfono de Línea:</span> 2203-7101 / 4709-3075</span><br />
                    <span style="font-weight:bold; font-size:20px;">15-2415-0520 Sebastian</span><br />
                    <span style="font-weight:bold; font-size:20px;">15-5429-6101 Guillermo</span>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="text-right">
                    <span><b>Lista Actualizada al: @DateTime.Now.ToShortDateString()</b></span>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="text-center">
                    <span><b>Compra Mínima $4000 Capital y Gran Buenos Aires. Interior $5000</b></span>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="text-center">
                    <span><b>Estos Precios pueden estar sujetos a modificación sin previo aviso</b></span>
                </td>
            </tr>


            @foreach (var catego in Model.Categorias)
            {
                <tr class="success text-center" style="font-weight:bold; height:50px;">
                    <td style="width:70%; vertical-align:middle">@catego.Nombre</td>
                    <td style="width:10%; vertical-align:middle">Precio por Kilo/Unidad</td>
                    <td style="width:10%; vertical-align:middle">Precio x kg Bulto Cerrado</td>
                    <td style="width:10%; vertical-align:middle">Kgs Bulto Cerrado</td>
                </tr>

                foreach (var prod in Model.ListaPrecios.OrderBy(p => p.Producto.Nombre))
                {
                    if (prod.Producto.CategoriaId == catego.ID)
                    {
                <tr>
                    <td>@prod.Producto.Nombre</td>

                    @if (@prod.PrecioXKG == "0")
                    {
                        <td>$ @prod.PrecioXUnidad</td>
                    }
                    else
                    {
                        <td>$ @prod.PrecioXKG</td>
                    }

                    <td>$ @prod.PrecioXBultoCerrado</td>
                    <td>@prod.KGBultoCerrado Kg.</td>
                </tr>
                    }

                }

            }

            @foreach (var marca in Model.Marcas)
            {
                <tr class="success text-center" style="font-weight:bold; height:50px;">
                    <td style="width:70%; vertical-align:middle">@marca.Nombre</td>
                    <td style="width:10%; vertical-align:middle">Precio por Kilo/Unidad</td>
                    <td style="width:10%; vertical-align:middle">Precio x kg Bulto Cerrado</td>
                    <td style="width:10%; vertical-align:middle">Kgs Bulto Cerrado</td>
                </tr>

                foreach (var prod in Model.ListaPrecios.OrderBy(p => p.Producto.Nombre))
                {
                    if (prod.Producto.MarcaId == marca.ID)
                    {
                        <tr>
                            <td>@prod.Producto.Nombre</td>

                            @if (@prod.PrecioXKG == "0")
                            {
                                <td>$ @prod.PrecioXUnidad</td>
                            }
                            else
                            {
                                <td>$ @prod.PrecioXKG</td>
                            }

                            <td>$ @prod.PrecioXBultoCerrado</td>
                            <td>@prod.KGBultoCerrado Kg.</td>
                         </tr>
                    }

                }

            }


        </table>

    </div>

</html>
