@model NaturalFrut.App_BLL.ViewModels.ProductoViewModel
@{
    ViewBag.Title = "ProductoForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Productos</h2>

<h4>Complete los campos del formulario para dar de alta un nuevo producto</h4>
<br />

@using (Html.BeginForm("GuardarProducto", "Admin"))
{

    <div class="row">
        @Html.ValidationSummary(true, "Por favor revise los siguientes errores:")
    </div>

    <div class="row">

        <!--Agrupamos campos de la columna izquierda-->
        <div class="col-sm-6">

            <div class="form-group">
                @Html.LabelFor(c => c.Nombre)
                @Html.TextBoxFor(c => c.Nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Nombre)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.CategoriaId)
                @Html.DropDownListFor(c => c.CategoriaId, new SelectList(Model.Categoria, "Id", "Nombre"), "Seleccione la Categoría", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.CategoriaId)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.MarcaId)
                @Html.DropDownListFor(c => c.MarcaId, new SelectList(Model.Marca, "Id", "Nombre"), "Seleccione la Marca", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.MarcaId)
            </div>

        </div>      

    </div>

    <div class="row">
        <div class="col-sm-12">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(c => c.ID)
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-danger" value="Cancelar" onclick="location.href='@Url.Action("Productos", "Admin")';">Cancelar</button>

        </div>
    </div>







}

@section scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {
            

            $("#MarcaId").change(function () {


                $("#CategoriaId").attr("disabled", "disabled"); 

                //MODO EDICION
                if ($("#MarcaId").val() == "") {
                    $("#MarcaId").attr("disabled", "disabled");
                    $("#CategoriaId").removeAttr("disabled");
                }

                if ($("#CategoriaId").val() != null)
                    $("#CategoriaId option:eq(0)").prop("selected", true);                

            });

            $("#CategoriaId").change(function () {

                $("#MarcaId").attr("disabled", "disabled");

                //MODO EDICION
                if ($("#CategoriaId").val() == "") {
                    $("#CategoriaId").attr("disabled", "disabled"); 
                    $("#MarcaId").removeAttr("disabled");
                }
                    

                if ($("#MarcaId").val() != null)
                    $("#MarcaId option:eq(0)").prop("selected", true);

            });
    
        });

    </script>
    

}



