@model IEnumerable<NaturalFrut.Models.ProductoMix>
@{
    ViewBag.Title = "Cargar Productos Mix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Carga de Productos Mix</h2>

<form id="prodmixform">

    <div class="row">
        <div class="col-sm-12">           

            <div class="form-group">
                <label>Producto Mix</label>
                <div class="tt-container productomix-cliente">
                    <input id="prodmix" name="prodmix" data-msg-required="Por favor ingresa un Producto" data-prodmix-id="@ViewBag.ProdMixID" required type="text" value="@ViewBag.ProdMixNombre" class="form-control" disabled />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Productos</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <table class="table-bordered table-hover table order-list">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad (Kg.)</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="listaproductos">

                    @{ int counter = 0;}
                    @foreach (var producto in Model)
                    {
                                <tr class="productosanteriores">
                                    <td><div class="tt-container productomix-producto"><input id="@String.Format("producto{0}", counter)" name="producto" data-msg-required="Por favor ingresa un Producto" data-producto-id="@producto.ProductoDelMix.ID" required type="text" data-js-counter="@counter" value="@producto.ProductoDelMix.Nombre"  class="form-control" disabled/></div></td>
                                    <td><div class="form-group"><input id="@String.Format("cantidad{0}", counter)" name="cantidad" data-msg-required="Por favor ingresa una Cantidad" required type="text" value="@producto.Cantidad" class="form-control" data-js-counter="@counter" /></div></td>
                                    <td>
                                        <input type="button" class="ibtnDel btn btn-md btn-danger " id="@counter" name="@counter" data-productodelmix-id="@producto.ProductoDelMix.ID" data-idreal-id="@producto.ID" value="Borrar" />
                                        @*<input type="hidden" name="prodxventaid" value="@producto.ID" />*@
                                    </td>
                                </tr>
                    counter++;
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" style="text-align: left;">
                            <input type="button" class="btn btn-lg btn-block " id="addrow" value="Agregar Producto" />
                        </td>
                    </tr>                    
                </tfoot>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Guardar Productos</button>
            <button type="button" class="btn btn-danger" value="Cancelar" onclick="location.href='@Url.Action("ProductosMix", "Admin")';">Cancelar</button>

        </div>
    </div>

    
</form>



@section scripts
{

    @Scripts.Render("~/bundles/jqueryval")  

    <script>

        $(document).ready(function () {


            //Inicializamos typeahead para los productos existentes
            $("input[name='producto']").each(function () {

                var input = $(this);
                var cont = input.attr("data-js-counter");
                typeahead_initialize(cont);

            });

            //ViewModel para pasar al webAPI
            var vm = [];

            var vm2 = [];


            //**EVENTOS START **//           

            var counter = @counter; //Continuamos con la numeracion segun el contador de la tabla de productos
            $("#addrow").on("click", function () {
               
                var validarProducto = $("#prodmix").valid();

                if (validarProducto) {

                    var newRow = $("<tr class='productosnuevos'>");
                    var cols = "";

                    cols += '<td><div class="tt-container productomix-producto"><input id="producto' + counter + '" name="producto" data-msg-required="Por favor ingresa un Producto" data-producto-id="" required type="text" value="" class="form-control" /></div></td>';

                    cols += '<td><div class="form-group"><input id="cantidad' + counter + '" name="cantidad" data-msg-required="Por favor ingresa una Cantidad" required type="number" value="" class="form-control" data-js-counter="' + counter + '"  /></div></td>';
                                       
                    cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger " id= "' + counter + '" name= "' + counter + '"  value="Borrar"></td>';
                    newRow.append(cols);
                    $("table.order-list").append(newRow);

                    typeahead_initialize(counter);

                    counter++;
                }

            });

            $("table.order-list").on("click", ".ibtnDel", function (event) {


                var button = $(this);                
                var idReal = parseInt(button.attr("data-idreal-id"));
                var valor = parseInt(this.attributes.name.value);

                bootbox.confirm("¿Estas seguro de querer borrar el producto?", function (result) {

                    
                    valor += 1;

                    if (valor == counter) {
                        counter -= 1;
                    } else {
                        counter += 1;
                    }
                    typeahead_initialize(counter);

                    if (result) {
                        $.ajax({
                            url: "/api/productosmix/" + idReal,
                            method: "DELETE",
                            success: function () {

                                toastr.success("Producto Mix eliminado satisfactoriamente");
                                
                                button.closest("tr").remove();
                            }
                        });
                    }

                });

                

            });
            
            //**EVENTOS END **//

            // Autocomplete para prodmix
            var prodsMix = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Nombre'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: '/api/productos/productossegunflagmix',
                    cache: false
                }
            });

            $('#prodmix').typeahead({
                minLength: 1,
                highlight: true,
                hint: true,
                limit: Infinity
            }, {
                    name: 'prodmix',
                    display: 'Nombre',
                    source: prodsMix
                }).on("typeahead:select", function (e, prodmix) {

                    $("#prodmix").attr("data-prodmix-id", prodmix.ID);
                    vm.ID = prodmix.ID;

                });


            var validator = $("#prodmixform").validate({

                submitHandler: function () {

                    var validarProducto = $('input[name*="producto"]').valid();
                    var validarCantidad = $('input[name*="cantidad"]').valid();                    

                    if (validarProducto && validarCantidad) {

                        //Modal para aceptacion de venta
                        bootbox.confirm("Estas seguro que deseas finalizar la operación?", function (result) {

                            if (result) {

                                CargarProductosAlVM(vm, vm2);

                                var model = {
                                    "ProductosAnteriores": vm,
                                    "ProductosNuevos": vm2
                                };

                                $.ajax({
                                    url: "/api/productosMix",
                                    method: "put",
                                    data: model
                                })
                                    .done(function () {

                                        toastr.success("La operación se ha realizado correctamente.");

                                        setTimeout(function () {
                                            window.location.href = "/Admin/ProductosMix";
                                        }, 4000);

                                    })
                                    .fail(function () {
                                        toastr.error("Se ha producido un error al realizar la operación, revise los datos a ingresar...");
                                    });

                            }

                        });

                    }
                   
                    return false;
                }
            });

        });

    </script>

    <!-- FUNCIONES -->
    <script>

        function typeahead_initialize(counter) {


            //Inicializacion necesaria para typeahead dinamicos           
            var productos = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Nombre'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: '/api/productos?query=%QUERY',
                    wildcard: '%QUERY',
                    cache: false
                }
            });

            $('#producto' + counter).typeahead({
                minLength: 1,
                highlight: true,
                hint: true,
                limit: Infinity
            }, {
                    name: 'producto',
                    display: 'Nombre',
                    source: productos
                }).on("typeahead:select", function (e, producto) {

                    $("#producto" + counter).attr("data-producto-id", producto.ID);

                });

        }

        //function GetTiposDeUnidadDynamic(counter) {
        
        //    $.getJSON("GetTiposDeUnidadDynamicAsync", { Counter: counter }, PopulateTiposDeUnidadDynamic)
        //        .error(function (request, textStatus, errorThrown) { alert(errorThrown); })

        //}

        //PopulateTiposDeUnidadDynamic = function (data) {

        //    $.each(data.TiposDeUnidad, function () {
        //        $("#tiposdeunidad" + data.Counter).append($("<option />").val(this.ID).text(this.Nombre));
        //    });

        //    //Si el Descuento Final esta activado, desactivarlo
        //    var selDescFinal = $("#tipoDescuento").val();
        //    if (selDescFinal != "") {
        //        $("#descuento").attr("disabled", "disabled");
        //        $("#descuento").val("");
        //        $('#tipoDescuento option:first').prop('selected', true);
        //    }


        //}

       
        function CargarProductosAlVM(vm, vm2) {

            //Cargamos la lista de productos

            var prodMixID = $("#prodmix").attr("data-prodmix-id");
            vm.ID = prodMixID;

            $(".productosanteriores").each(function (i, row) {
                
                var $row = $(row),
                    $producto = $row.find('input[name*="producto"]'),
                    $cantidad = $row.find('input[name*="cantidad"]')                    
                
                var productoid = $producto.attr("data-producto-id");
                var cantidad = parseFloat($cantidad.val().replace(/,/, '.'));
                

                vm.push(
                    {
                        ProdMixId: prodMixID,
                        ProductoDelMixId: productoid,
                        Cantidad: cantidad                        
                    }
                );




            });

            //Productos Nuevos
            $(".productosnuevos").each(function (i, row) {

                var $row = $(row),
                    $producto = $row.find('input[name*="producto"]'),
                    $cantidad = $row.find('input[name*="cantidad"]')
                    

                var productoid = $producto.attr("data-producto-id");
                var cantidad = parseFloat($cantidad.val().replace(/,/, '.'));

                vm2.push(
                    {
                        ProdMixId: prodMixID,
                        ProductoDelMixId: productoid,
                        Cantidad: cantidad  
                    }
                );

            });


            vm.ID = $("#prodmix").attr("data-prodmix-id");

        }


    </script>

}
