@model IEnumerable<NaturalFrut.Models.TipoDeUnidad>
@{
    ViewBag.Title = "TipoDeUnidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tipos de Unidad</h2>

@*<div class="row">
    <div class="col-sm-12">
        <p>
            @Html.ActionLink("Agregar nuevo", "NuevoTipoDeUnidad", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>*@

<div class="row">
    <div class="col-sm-12">

        @if (!Model.Any())
        {
            <h2>No se han cargado aún Datos en el sistema</h2>
        }
        else
        {

            <table class="table table-bordered table-hover">
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
                <tbody>
                    @foreach (var tipoDeUnidad in Model)
                    {
                        <tr>
                            <td>@tipoDeUnidad.Nombre</td>
                            <td>
                                <a href="@Url.Action("EditarTipoDeUnidad", "Admin", new { id = tipoDeUnidad.ID })" id="btneditar"> 
                                    <img src="@Url.Content("../Content/Images/EditIcon.png")" />
                                </a>
                                @*<a href="@Url.Action("BorrarTipoDeUnidad", "Admin", new { id = tipoDeUnidad.ID })" id="btnborrar"  >
                                    <img src="@Url.Content("../Content/Images/DeleteIcon.png")" />
                                </a>*@
                                @*@Html.ActionLink("Editar", "EditarTipoDeUnidad", "Admin", new { id = tipoDeUnidad.ID }, new { @class = "ImgEditar" })*@
                                @*@Html.ActionLink("Borrar", "BorrarTipoDeUnidad", "Admin", new { id = tipoDeUnidad.ID }, new { @class = "ImgBorrar" })*@

                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        }

    </div>
</div>

@section scripts
{
    <script>

        $(document).ready(function () {          

            
            $("a[id='btnborrar']").on('click', function (e) {

                var url = $(this)[0].href;
               
                e.preventDefault();

                bootbox.confirm("¿Estas seguro de realizar esta acción?", function (result) {

                    if (result) {
                        window.location = url;
                    }

                });
             
            });
            



        });

        
        

    </script>
}